In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
#Import Pickle from last assignment

DF= pd.read_pickle(r'/Users/winsontom/Desktop/10-2023 Instacart Basket Analysis/02 Data /Prepared Data/Orders_Products_Merged_After_Task_7.pkl')

In [4]:
#Create new DF data frame 1 million; Easier to remember

Df_1M = DF[:1000000]

In [5]:
#Checking shape
#Confirmed 1 Million rows
Df_1M.shape

(1000000, 18)

In [6]:
#Checking columns
Df_1M.head(10)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest Days,busiest_period_of_day
0,2539329,1,1,2,8,0.0,196,1,0,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Regular Busy Days,Average Orders
1,2539329,1,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Regular Busy Days,Average Orders
2,2539329,1,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Regular Busy Days,Average Orders
3,2539329,1,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Regular Busy Days,Average Orders
4,2539329,1,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Regular Busy Days,Average Orders
5,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Least Busiest Days,Average Orders
6,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Least Busiest Days,Average Orders
7,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Least Busiest Days,Average Orders
8,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Regularly busy,Least Busiest Days,Average Orders
9,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Least Busiest Days,Average Orders

In [7]:
#Group By succesful but unable to see your grouped work yet
Df_1M.groupby('product_name')

In [8]:
#Order Number - Mean with Agg

Df_1M.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              14.792915
2.0              17.091743
3.0              17.919589
4.0              17.891973
5.0              15.214270
6.0              15.382228
7.0              17.699986
8.0              16.485269
9.0              15.965921
10.0             20.091818
11.0             16.485395
12.0             15.615845
13.0             16.485052
14.0             17.523474
15.0             15.690354
16.0             18.014342
17.0             16.155822
18.0             19.606536
19.0             17.630236
20.0             17.138204
21.0             21.996844

In [9]:
#Finding the mean without agg

Df_1M.groupby('department_id')['order_number'].mean()

department_id
1.0     14.792915
2.0     17.091743
3.0     17.919589
4.0     17.891973
5.0     15.214270
6.0     15.382228
7.0     17.699986
8.0     16.485269
9.0     15.965921
10.0    20.091818
11.0    16.485395
12.0    15.615845
13.0    16.485052
14.0    17.523474
15.0    15.690354
16.0    18.014342
17.0    16.155822
18.0    19.606536
19.0    17.630236
20.0    17.138204
21.0    21.996844
Name: order_number, dtype: float64

In [10]:
#Multiple Aggregations
#Using AGG function to find mean, min, max
Df_1M.groupby('department_id').agg({'order_number': ['mean','min','max']})

              order_number
                      mean min max
department_id
1.0              14.792915   1  99
2.0              17.091743   1  98
3.0              17.919589   1  99
4.0              17.891973   1  99
5.0              15.214270   1  99
6.0              15.382228   1  99
7.0              17.699986   1  99
8.0              16.485269   1  91
9.0              15.965921   1  99
10.0             20.091818   1  99
11.0             16.485395   1  99
12.0             15.615845   1  99
13.0             16.485052   1  99
14.0             17.523474   1  99
15.0             15.690354   1  99
16.0             18.014342   1  99
17.0             16.155822   1  99
18.0             19.606536   1  99
19.0             17.630236   1  99
20.0             17.138204   1  99
21.0             21.996844   1  97

In [11]:
#Split the data into groups based on the “user_id” column.
#Apply the transform() function on the “order_number” column to generate the maximum orders for each user.
#Create a new column, “max_order,” into which you’ll place the results of your aggregation.

Df_1M['max_order'] = Df_1M.groupby(['user_id'])['order_number'].transform(np.max)
Df_1M.head(15)

/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_62967/2020410834.py:5: FutureWarning: The provided callable <function amax at 0x10b964a40> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  Df_1M['max_order'] = Df_1M.groupby(['user_id'])['order_number'].transform(np.max)
/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_62967/2020410834.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Df_1M['max_order'] = Df_1M.groupby(['user_id'])['order_number'].transform(np.max)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest Days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,0.0,196,1,0,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Regular Busy Days,Average Orders,10
1,2539329,1,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Regular Busy Days,Average Orders,10
2,2539329,1,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Regular Busy Days,Average Orders,10
3,2539329,1,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Regular Busy Days,Average Orders,10
4,2539329,1,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Regular Busy Days,Average Orders,10
5,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Least Busiest Days,Average Orders,10
6,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Least Busiest Days,Average Orders,10
7,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Least Busiest Days,Average Orders,10
8,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Regularly busy,Least Busiest Days,Average Orders,10
9,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Least Busiest Days,Average Orders,10
10,2398795,1,2,3,7,15.0,13032,6,0,both,Cinnamon Toast Crunch,121.0,14.0,4.0,Low-range product,Regularly busy,Least Busiest Days,Average Orders,10
11,473747,1,3,3,12,21.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Least Busiest Days,Average Orders,10
12,473747,1,3,3,12,21.0,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Least Busiest Days,Average Orders,10
13,473747,1,3,3,12,21.0,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Least Busiest Days,Average Orders,10
14,473747,1,3,3,12,21.0,25133,4,0,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Regularly busy,Least Busiest Days,Average Orders,10

In [12]:
#Create loyalty_flag column
#Loc create inputs new column
#Conditions for new column to define a loyal customer, regular customer, and new customer. 

Df_1M.loc[Df_1M['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
Df_1M.loc[(Df_1M['max_order'] <= 40) & (Df_1M['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
Df_1M.loc[Df_1M['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_62967/4253891165.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Df_1M.loc[Df_1M['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_62967/4253891165.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Loyal customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  Df_1M.loc[Df_1M['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [13]:
#Checking to see if loyalty flag works for multiple user IDS
Df_1M.head(100)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest Days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,0.0,196,1,0,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Regular Busy Days,Average Orders,10,New customer
1,2539329,1,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Regular Busy Days,Average Orders,10,New customer
2,2539329,1,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Regular Busy Days,Average Orders,10,New customer
3,2539329,1,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Regular Busy Days,Average Orders,10,New customer
4,2539329,1,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Regular Busy Days,Average Orders,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,4,2,10,8.0,21150,13,0,both,Fire Grilled Steak Bowl,38.0,1.0,5.9,Mid-range product,Regularly busy,Regular Busy Days,Most Orders,14,Regular customer
96,1673511,2,5,3,11,8.0,47144,1,0,both,Unsweetened Original Almond Breeze Almond Milk,91.0,16.0,14.0,Mid-range product,Regularly busy,Least Busiest Days,Average Orders,14,Regular customer
97,1673511,2,5,3,11,8.0,5322,2,0,both,Gluten Free Dark Chocolate Chunk Chewy with a ...,3.0,19.0,2.9,Low-range product,Regularly busy,Least Busiest Days,Average Orders,14,Regular customer
98,1673511,2,5,3,11,8.0,17224,3,0,both,Oats & Honey Gluten Free Granola,3.0,19.0,1.6,Low-range product,Regularly busy,Least Busiest Days,Average Orders,14,Regular customer
99,1673511,2,5,3,11,8.0,38656,4,0,both,Gluten Free Peanut Butter Dark Chocolate Chewy...,3.0,19.0,3.4,Low-range product,Regularly busy,Least Busiest Days,Average Orders,14,Regular customer

In [14]:
#Checking to see frequency of each type of customer (based on loyalty)
#Numbers differ from CareerFoundry

Df_1M['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    482270
Loyal customer      322201
New customer        195529
Name: count, dtype: int64

In [15]:
Df_1M[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

In [16]:
#Start of the Task 4.8

In [17]:
#Using DF this time which is 32 million rows not DF_1M which is 1 Million rows
DF.shape

(32435059, 18)

In [18]:
#Previously found the aggregated mean of the “order_number” column grouped by “department_id” for a subset 
#Now, repeat this process for the entire dataframe. 
#Find the aggregated mean of the order number, grouped by department ID for the full data frame

DF.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

In [19]:
#Small data frame comparison
#Order Number - Mean with Agg

Df_1M.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              14.792915
2.0              17.091743
3.0              17.919589
4.0              17.891973
5.0              15.214270
6.0              15.382228
7.0              17.699986
8.0              16.485269
9.0              15.965921
10.0             20.091818
11.0             16.485395
12.0             15.615845
13.0             16.485052
14.0             17.523474
15.0             15.690354
16.0             18.014342
17.0             16.155822
18.0             19.606536
19.0             17.630236
20.0             17.138204
21.0             21.996844

In [20]:
#Step 3 - Analyzing the results
#When comparing DF and Df_1M, generally. Df_1M has higher order_number means. 
#When you have more data, the outliers are spread more thin and make less of an impact which reduces the mean
#When you have less data, the outliers play a bigger impact increasing the mean numbers
#Since there is significantly more data on DF , I would lean to using DF for anything summarizing

In [21]:
#Step 4 - Creating a loyalty flag for existing customers using the transform() and loc() functions. Full DF
#First step is creating this "max order" column to identify what level of loyalty are they
#Transform function

DF['max_order'] = DF.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_62967/3831647028.py:5: FutureWarning: The provided callable <function amax at 0x10b964a40> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  DF['max_order'] = DF.groupby(['user_id'])['order_number'].transform(np.max)

In [22]:
#Step 4 - Creating a loyalty flag for existing customers using the transform() and loc() functions. Full DF

#Create loyalty_flag column
#Loc create inputs new column
#Conditions for new column to define a loyal customer, regular customer, and new customer. 
#Locate max orders in DF. If its more than 40, fill in loyalty_flag column with "Loyal Customer"

DF.loc[DF['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_62967/3911491123.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Loyal customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  DF.loc[DF['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [23]:
#Locate max orders in DF. If its more than 10 and less than or equal to 40
#Fill in loyalty_flag column with "Regular Customer"
#Note: Bracket column setup is very important

DF.loc[(DF['max_order'] <= 40) & (DF['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [24]:
#Locate max orders in DF. If its less than or equal to 10 , then fill in the Loyalty_Flag Column with "New Customer"

DF.loc[DF['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [25]:
DF.tail(50)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest Days,busiest_period_of_day,max_order,loyalty_flag
32435009,2129269,206209,8,3,17,22.0,16066,12,0,both,Unsalted Tops Saltine Crackers,78.0,19.0,7.0,Mid-range product,Regularly busy,Least Busiest Days,Average Orders,13,Regular customer
32435010,2558525,206209,9,4,15,22.0,38167,1,1,both,Ultra Downy® Clean Breeze™ Liquid Fabric Condi...,75.0,17.0,5.8,Mid-range product,Least busy,Least Busiest Days,Average Orders,13,Regular customer
32435011,2558525,206209,9,4,15,22.0,23892,2,1,both,Original High Efficiency Liquid Laundry Detergent,75.0,17.0,9.1,Mid-range product,Least busy,Least Busiest Days,Average Orders,13,Regular customer
32435012,2558525,206209,9,4,15,22.0,6846,3,1,both,Diet Pepsi Pack,77.0,7.0,11.3,Mid-range product,Least busy,Least Busiest Days,Average Orders,13,Regular customer
32435013,2266710,206209,10,5,18,29.0,9405,1,1,both,Calcium Enriched 100% Lactose Free Fat Free Milk,91.0,16.0,11.5,Mid-range product,Regularly busy,Regular Busy Days,Average Orders,13,Regular customer
32435014,2266710,206209,10,5,18,29.0,6846,2,1,both,Diet Pepsi Pack,77.0,7.0,11.3,Mid-range product,Regularly busy,Regular Busy Days,Average Orders,13,Regular customer
32435015,2266710,206209,10,5,18,29.0,15700,3,0,both,Cheddar Cheese Nut Thins Cracker Snacks,78.0,19.0,2.3,Low-range product,Regularly busy,Regular Busy Days,Average Orders,13,Regular customer
32435016,2266710,206209,10,5,18,29.0,26503,4,0,both,Classic Vegetables Whole Kernel Corn,116.0,1.0,6.2,Mid-range product,Regularly busy,Regular Busy Days,Average Orders,13,Regular customer
32435017,2266710,206209,10,5,18,29.0,41213,5,1,both,French Loaf,112.0,3.0,4.8,Low-range product,Regularly busy,Regular Busy Days,Average Orders,13,Regular customer
32435018,2266710,206209,10,5,18,29.0,23800,6,0,both,Whole Grain Cereal,121.0,14.0,6.2,Mid-range product,Regularly busy,Regular Busy Days,Average Orders,13,Regular customer
32435019,2266710,206209,10,5,18,29.0,24852,7,0,both,Banana,24.0,4.0,12.3,Mid-range product,Regularly busy,Regular Busy Days,Average Orders,13,Regular customer
32435020,2266710,206209,10,5,18,29.0,13838,8,0,both,Natural Free & Clear Dish Liquid,74.0,17.0,3.8,Low-range product,Regularly busy,Regular Busy Days,Average Orders,13,Regular customer
32435021,2266710,206209,10,5,18,29.0,31130,9,0,both,Sea Salt Flakes Original,104.0,13.0,6.3,Mid-range product,Regularly busy,Regular Busy Days,Average Orders,13,Regular customer
32435022,1854736,206209,11,4,10,30.0,6846,1,1,both,Diet Pepsi Pack,77.0,7.0,11.3,Mid-range product,Least busy,Least Busiest Days,Most Orders,13,Regular customer
32435023,1854736,206209,11,4,10,30.0,9405,2,1,both,Calcium Enriched 100% Lactose Free Fat Free Milk,91.0,16.0,11.5,Mid-range product,Least busy,Least Busiest Days,Most Orders,13,Regular customer
32435024,1854736,206209,11,4,10,30.0,41213,3,1,both,French Loaf,112.0,3.0,4.8,Low-range product,Least busy,Least Busiest Days,Most Orders,13,Regular customer
32435025,1854736,206209,11,4,10,30.0,24852,4,1,both,Banana,24.0,4.0,12.3,Mid-range product,Least busy,Least Busiest Days,Most Orders,13,Regular customer
32435026,1854736,206209,11,4,10,30.0,19348,5,1,both,Fat Free Milk,84.0,16.0,4.6,Low-range product,Least busy,Least Busiest Days,Most Orders,13,Regular customer
32435027,1854736,206209,11,4,10,30.0,15700,6,1,both,Cheddar Cheese Nut Thins Cracker Snacks,78.0,19.0,2.3,Low-range product,Least busy,Least Busiest Days,Most Orders,13,Regular customer
32435028,1854736,206209,11,4,10,30.0,40310,7,0,both,Oven Roasted Turkey Breast,96.0,20.0,1.9,Low-range product,Least busy,Least Busiest Days,Most Orders,13,Regular customer
32435029,1854736,206209,11,4,10,30.0,48370,8,0,both,Sensitive Toilet Paper,54.0,17.0,7.4,Mid-range product,Least busy,Least Busiest Days,Most Orders,13,Regular customer
32435030,626363,206209,12,1,12,18.0,6846,1,1,both,Diet Pepsi Pack,77.0,7.0,11.3,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435031,626363,206209,12,1,12,18.0,24852,2,1,both,Banana,24.0,4.0,12.3,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435032,626363,206209,12,1,12,18.0,9405,3,1,both,Calcium Enriched 100% Lactose Free Fat Free Milk,91.0,16.0,11.5,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435033,626363,206209,12,1,12,18.0,19348,4,1,both,Fat Free Milk,84.0,16.0,4.6,Low-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435034,626363,206209,12,1,12,18.0,41213,5,1,both,French Loaf,112.0,3.0,4.8,Low-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435035,626363,206209,12,1,12,18.0,15700,6,1,both,Cheddar Cheese Nut Thins Cracker Snacks,78.0,19.0,2.3,Low-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435036,626363,206209,12,1,12,18.0,38167,7,1,both,Ultra Downy® Clean Breeze™ Liquid Fabric Condi...,75.0,17.0,5.8,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435037,626363,206209,12,1,12,18.0,26209,8,0,both,Limes,24.0,4.0,14.7,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435038,626363,206209,12,1,12,18.0,33129,9,1,both,Classic Hummus,67.0,20.0,1.3,Low-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435039,626363,206209,12,1,12,18.0,43961,10,1,both,Organic Peeled Whole Baby Carrots,123.0,4.0,3.8,Low-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435040,626363,206209,12,1,12,18.0,23800,11,1,both,Whole Grain Cereal,121.0,14.0,6.2,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435041,626363,206209,12,1,12,18.0,13838,12,1,both,Natural Free & Clear Dish Liquid,74.0,17.0,3.8,Low-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435042,626363,206209,12,1,12,18.0,48742,13,1,both,Quick 1 Minute Whole Grain Oats,130.0,14.0,5.9,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435043,626363,206209,12,1,12,18.0,23594,14,1,both,Medium Salsa,51.0,13.0,3.7,Low-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435044,626363,206209,12,1,12,18.0,20590,15,0,both,Disinfecting Wipes Fresh Scent,114.0,17.0,5.9,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435045,626363,206209,12,1,12,18.0,16168,16,0,both,Large Organic Omega3 Brown Eggs,86.0,16.0,11.8,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435046,626363,206209,12,1,12,18.0,33351,17,0,both,Light Multi-Grain English Muffins,93.0,3.0,6.4,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435047,626363,206209,12,1,12,18.0,5622,18,0,both,Cocktail Tomatoes on the Vine,123.0,4.0,8.8,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435048,626363,206209,12,1,12,18.0,23039,19,1,both,Fat Free Cream Cheese,108.0,16.0,3.4,Low-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435049,626363,206209,12,1,12,18.0,14727,20,0,both,Yellow Onion,123.0,4.0,3.2,Low-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435050,2977660,206209,13,1,12,7.0,24852,1,1,both,Banana,24.0,4.0,12.3,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435051,2977660,206209,13,1,12,7.0,9405,2,1,both,Calcium Enriched 100% Lactose Free Fat Free Milk,91.0,16.0,11.5,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435052,2977660,206209,13,1,12,7.0,16168,3,1,both,Large Organic Omega3 Brown Eggs,86.0,16.0,11.8,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435053,2977660,206209,13,1,12,7.0,39216,4,0,both,Original Multigrain Spoonfuls Cereal,121.0,14.0,3.3,Low-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435054,2977660,206209,13,1,12,7.0,14197,5,1,both,Tomato Paste,9.0,9.0,5.6,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435055,2977660,206209,13,1,12,7.0,38730,6,0,both,Brownie Crunch High Protein Bar,3.0,19.0,5.9,Mid-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435056,2977660,206209,13,1,12,7.0,31477,7,0,both,High Protein Bar Chunky Peanut Butter,3.0,19.0,4.2,Low-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435057,2977660,206209,13,1,12,7.0,6567,8,0,both,Chocolate Peanut Butter Protein Bar,3.0,19.0,4.9,Low-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer
32435058,2977660,206209,13,1,12,7.0,22920,9,0,both,Roasted & Salted Shelled Pistachios,117.0,19.0,1.7,Low-range product,Regularly busy,Busiest Days,Average Orders,13,Regular customer

In [26]:
#Step 5: Identify differences in spending habits. 
#Using the loyalty flag you created compare basic statistics of the product prices for each category 
#How do prices of products differ between loyal vs regular/new customer.

In [27]:
#AGG function to look at loyalty levels
#Mean - average prices for loyal, new, regular levels
#Table shows differences in spending by customer loyalty. 
#As the customers shop more often, the mean / average prices decrease. 
#New customers spend the most. Regular customers spend less. Loyal Customers spend the least.

DF.groupby('loyalty_flag').agg({'prices': ['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [28]:
#Step 6 - Target different types of spenders
#Spending flag for each user based on the average price across all their orders
#Mean<10 = Low Spender
#Mean>10 = High Spender

DF['Average_Price_Of_Orders'] = 'Values'
DF[['user_id', 'prices', 'Average_Price_Of_Orders']].head(150)

     user_id  prices Average_Price_Of_Orders
0          1     9.0                  Values
1          1    12.5                  Values
2          1     4.4                  Values
3          1     4.7                  Values
4          1     1.0                  Values
..       ...     ...                     ...
145        2     4.4                  Values
146        2    12.3                  Values
147        2     5.8                  Values
148        2     2.7                  Values
149        2     4.0                  Values

[150 rows x 3 columns]

In [29]:
#Seperated by the user ids , find the average of these prices
#AGG function
#This is a table of the mean prices, however we want the information to actually fill out the column Average_Price_of_Orders


DF.groupby('user_id').agg({'prices': ['mean']})

           prices
             mean
user_id
1        6.367797
2        7.515897
3        8.197727
4        8.205556
5        9.189189
...           ...
206205   8.909375
206206   7.646667
206207   7.313453
206208   8.366617
206209   7.058915

[206209 rows x 1 columns]

In [30]:
#Filled out the columns with Transform(np.mean) function. Not np.max
#Result is Average_Price_of_Orders filled out. It contains the Avg price for each user ID.
#Formula means "Dataframe column of Average Price of Orders is Dataframe grouped by the user ID, fill the value with prices-average"

DF['Average_Price_Of_Orders'] = DF.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/yj/v30db1v90zs0p0pvttp796cm0000gp/T/ipykernel_62967/1789074909.py:5: FutureWarning: The provided callable <function mean at 0x10b965760> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  DF['Average_Price_Of_Orders'] = DF.groupby(['user_id'])['prices'].transform(np.mean)

In [ ]:
#Check the DF to see if the column is filled out properly
DF.head(15)

In [ ]:
DF.loc[DF['Average_Price_Of_Orders'] < 10 , 'Spender_Type'] = 'Low Spender'

In [ ]:
DF.loc[DF['Average_Price_Of_Orders'] >= 10 , 'Spender_Type'] = 'High Spender'

In [34]:
pd.options.display.max_rows = None
DF[['user_id', 'prices', 'Average_Price_Of_Orders']].head(10)

   user_id  prices  Average_Price_Of_Orders
0        1     9.0                 6.367797
1        1    12.5                 6.367797
2        1     4.4                 6.367797
3        1     4.7                 6.367797
4        1     1.0                 6.367797
5        1     9.0                 6.367797
6        1     3.0                 6.367797
7        1     4.4                 6.367797
8        1    10.3                 6.367797
9        1     4.7                 6.367797